// COLOR:
$color-green: #28b485;
$color-cyan: #17a2b8;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #f5f7fa;
$color-gray-dark-2: #444;
$color-gray-2: #343434;

$color-purple: #9313a6;
$color-cyan-light: #6dd5ed;
$color-cyan-light-2: #36d1dc;
$color-light-blue: #5b86e5;
$color-white: #fff;
$color-black: #000;
$color-pink: #fe007d;
$color-pink-2: #ea4c88;
$color-gray-dark: #777;
$color-gray-dark-3: #333;
$color-gray-mid: #a2a2a2;
$color-gray-light: #ffffffd0;
$color-orange: #e67e22;
$color-orange-dark: #fe5629;
$footer-color: #df8693;

$gradient-1: linear-gradient(to right bottom, #667eea, #764ba2);
$gradient-2: linear-gradient(to right bottom, #00c6fb, #005bea);
$gradient-3: linear-gradient(to right bottom, #4facfe, #00f2fe);
$gradient-4: linear-gradient(to bottom, #c05e6a 0%, #df8693 60%, #df8693 100%);

// MAIN NAV BUTTON COLOR
$nav-btn-color-one: #f27b81;
$nav-btn-color-two: #f7c44e;
$nav-btn-color-three: #aec158;
$nav-btn-color-four: #4cbcd4;
$nav-btn-color-five: #e98721;
$nav-btn-color-six: #8ba8b2;
$nav-btn-color-seven: #dd72b3;

//FONT
$default-font-size: 1.6rem;

// GRID:
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
