@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "components/event";
@import "components/feature-box";
@import "components/gallery";
@import "components/icon";
@import "components/story";
@import "components/tab";
@import "components/teacher";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";

@import "pages/home";

/*
 Pink: #fe007d
 Orange: #fe5629
 Green: #28b485
 Cyan: #17a2b8
 Purple: #cb44b1
*/
