.main-nav {
  position: absolute;
  top: 14.3rem;
  left: 30rem;
  &__box {
    list-style: none;

    li {
      display: inline-block;
      margin-left: 0.2rem;
    }
  }
}

.dot-list {
  list-style: none;
}

.dot-item {
  display: inline-block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgba($color-white, 0.9);
  transition: all 0.2s;
  &:not(:last-child) {
    margin-right: 1rem;
  }

  &--active {
    border: 2px solid rgba($color-white, 0.9);
    background-color: rgba($color-white, 0.9);
  }
}
