body {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.heading-six {
  font-size: 2.5rem;
  font-weight: 300;
  color: $color-gray-dark;
  animation: moveInBottom 0.8s ease;

  &--pink {
    color: $color-pink;
  }
  &--red {
    color: $color-orange;
  }
  &--separator {
    color: $color-orange-dark;
  }
}

.heading-primary {
  font-size: 7.5rem;
  text-transform: capitalize;
  padding: 0;
  display: inline-block;
  line-height: 100%;
  letter-spacing: 0.2rem;
  backface-visibility: hidden;
  animation: flipInX 1s ease-in 0.3s;
  animation-fill-mode: backwards;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, $color-green, $color-cyan);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: scaleX(1.1) skewY(2deg) skewX(10deg);
    text-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;

  &::after {
    display: block;
    height: 2px;
    background-image: linear-gradient(to right, $color-green, $color-cyan);
    content: "";
    width: 10rem;
    margin: 0 auto;
    margin-top: 0.5rem;
  }
}

.heading-four {
  word-spacing: 2px;
  letter-spacing: 1px;
  font-size: 3.5rem;
  text-transform: capitalize;
  font-weight: bold;
}

.heading-five {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  &--main {
    display: inline-block;
    font-size: 4.5rem;
    line-height: 0;
    color: #fd5500;
  }
  &--sub {
    display: block;
    color: $color-purple;
  }
}

p {
  font-size: $default-font-size;
  line-height: 1.4;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.gallery-title {
  display: inline-block;
  line-height: 1;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: $color-gray-dark;
  margin-bottom: 0.8rem;
  position: relative;
  transition: color 0.3s;
  &:hover {
    color: $nav-btn-color-four;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.6rem;
    height: 1rem;
    width: 10rem;
    background-image: url(../img/underline.png);
  }
}
